<table class="table .table-striped">
	<thead>
	    <tr>
	     	<th>Matric</th>
	      	<th>Baseline Totals </br>{{ baseline.date }}</th>
	       	<th>Current Totals </br>{{ latest.date }}</th>
	     	<th>Last Week Data</br>{{ lastWeekSnapshot.date }} </th>
	      	<th>This Week Data</br>{{ latest.date }} </th> 
	      	<th>Project to Date Data</th> 
	    </tr>
	</thead>
  <tbody>
 	{{#each baseline.data}}
    <tr>
     	<td>{{@key}}</td>
     	<td>{{.}}</td>
		<td>{{get ../latest.data @key}}</td>
		{{#if ../lastWeekSnapshot}}
			<td>{{subtract ../../weekb4lastSnapshot.data ../../lastWeekSnapshot.data @key }} </td>
			{{#if ../../latest}}
				<td>{{subtract ../../../lastWeekSnapshot.data ../../../latest.data @key }} </td>
			{{else}}
				<td> No data available </td>
			{{/if}}
		{{else}}
		<td> No data available </td>
		{{/if}}
			<td>:)</td>
    </tr>
    {{/each}}
  </tbody>
</table>