<table class="table .table-striped">
	<thead>
	    <tr>
	     	<th>Matric</th>
	      	<th>Baseline</th>
	       	<th>Current</th>
	     	<th>Last Week Data</br>{{ lastWeekSnapshot.date }} </th>
	      	<th>This Week Data </th> 
	      	<th>Project to Date Data</th> 
	    </tr>
	</thead>
  <tbody>
 	{{#each baseline.data}}
    <tr>
     	<td>{{@key}}</td>
     	<td>{{.}}</td>
		<td>{{get ../latest.data @key}}</td>
		{{#if ../lastWeekSnapshot}}
			<td>{{subtract ../../weekb4lastSnapshot.data ../../lastWeekSnapshot.data @key }} </td>
			<td>{{subtract ../../lastWeekSnapshot.data ../../latest.data @key }} </td>
		{{else}}
		<td> No data available </td>
		<td> No data available </td>
		{{/if}}
		<td>{{subtract ../baseline.data ../latest.data @key }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>